<div class="navbar">
    <img src="logo.jpg" alt="College Logo">
    <a routerLink="/home">Home</a>
    <a routerLink="/aboutus">About Us</a>
    <a routerLink="/gallery">Gallery</a>
    <a routerLink="/contactus">Contact Us</a>
    <a routerLink="/login">Login</a>
    <div class="dropdown">
        <button class="dropbtn">More 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a routerLink="/admission">Admission</a>
            <a routerLink="/programmes">Programmes</a>
            <a routerLink="/alumni">Alumni</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1>Admission Related Vacancies</h1>
    </div>
    <div class="row">
        <div class="column">
            <a routerLink="/register" class="button">Click Here to Register</a>
        </div>
        <div class="column"><a routerLink="/track" class="button">Track Registered Application</a></div>
    </div>
    <div class="row">
        <div class="image-placeholder">College Images / Event Videos</div>
    </div>
    <div class="row">
        <h2>Counseling Code - 8120</h2>
    </div>
    <div class="row">
        <h3>Engineering Programmes</h3>
    </div>
    <div class="row">
        <p>B.E/B.Tech 4 Years: 8120 Seats</p>
    </div>
    <div class="row">
        <p>M.E/M.Tech 2 Years: 5873 Seats</p>
    </div>
    <div class="row">
        <p>Offers Over Years: 2022</p>
    </div>
    <div class="row">
        <div class="video-placeholder">
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/YOUR_VIDEO_ID" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
    </div>
    <div class="row">
        <p>Phone: 9791261286</p>
    </div>
</div>

<div class="footer">
    <p>APPROVED & AFFILIATED BY</p>
    <div class="social-media">
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <p>Copyright (C)ACET</p>
</div>
